.selectColor {
  padding: 12px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .selectColor_styles {
    display: flex;
    align-items: center;
    position: relative;

    .ant-form-item {
      margin: 0;
    }

  }

  .selectColor-showColor {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #c3c3c3;
    cursor: pointer;
  }

  .selectColor-selectSty {
    width: 130px;
    margin-left: 12px;
  }

  .selectColor-title {
    font-size: 12px;
    line-height: 20px;
  }

  .selectColor-icon {
    cursor: pointer;
  }

  .selectColor_list {
    .selectColor_list-item {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border: 1px solid #c3c3c3;
      cursor: pointer;
      margin-right: 2px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .selectColor_silder {
    width: 100%;
  }

  .selectColor_text {
    margin-top: 8px;

    .selectColor_text-example {
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  .selectColor_styles_modal {
    position: absolute;
    width: 200px;
    top: 32px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 2px 0 2px #33333336;
    z-index: 99;
  }
}